#skills {
    padding-bottom: 0;
}

.swiper {
    /* height: fit-content; */
    padding-bottom: 12rem;
    padding-top: 1rem;
    height: 30rem;
}

.swiper-slide {
    cursor: grab;
}

.swiper-pagination {
    margin-bottom: 8rem;
}

.swiper-pagination-bullet {
    background: var(--color-primary);
}


